@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
    margin: 0 auto;
}

.container {
    height: 100vh;
    width: 1300px;
    margin: 0 auto;
    background-color: rgb(247, 244, 225);
}

.header {
    height: 110px;
    width: 1300px;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
}

.headerH {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 34px;
    position: relative;
    top: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.headerC {
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
}

.gitAvatar {
    height: 47px;
    width: 47px;
    border-radius: 100%;
    position: relative;
    top: -70px;
    left: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://avatars.githubusercontent.com/u/92734932?s=40&v=4);
}

.panelH {
    margin: 0;
    width: 100%;
    position: relative;
    left: 20px;
    top: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.panelOfWorks {
    height: 440px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    position: relative;
    top: 5px;
    background: rgb(135, 151, 173);
    display: flex;
    flex-wrap: wrap;
}

.workCard {
    height: 135px;
    width: 320px;
    background-color: rgb(212, 197, 216);
    border-radius: 8px;
    margin: 0 20px 0 20px;
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.479);
}

.cardHeader {
    height: 60px;
    width: 100%;
}

.cardText {
    margin: 0;
    position: relative;
    top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.icon {
    margin: 6px;
}

.line {
    width: 95%;
}

.btn {
    margin-left: 6px;
    margin-top: 6px;
    height: 28px;
    width: 88px;
    border: 2px solid rgb(72, 219, 200);
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5 linear;
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: rgb(230, 231, 231);
    border-color: rgb(92, 157, 177);
}