body{
    margin: 50px;
}
.mainPart{
    width: 70px;
    height: 700px;

    background-color: teal;
    
    border-radius: 15px;
}
.triangle{
    width: 0;
	height: 0;

	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 100px solid teal;
    border-radius: 10px;

    position: absolute;
    top: 745px;
}
.terka{
    width: 50px;
    height: 25px;

    background-color: tomato;
    border-radius: 25%;

    position: relative;
    left: 10px;
    top: 7px;
}
hr{
    width: 15px;
    vertical-align: auto;
}
